html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; 
}
a {
  display: inline-block;
  text-decoration: none;
}
span,
button,
b {
  display: inline-block;
}
i {
  font-style: normal;
}
input,
button,
textarea {
  background: none;
  outline: none;
  border: none;
}
ul,
li {
  list-style: none;
}
.App {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: calc(100vh - 60px);
  margin: 30px auto 0;
}
.left-col {
  width: 65%;
}
.right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.right-col .winner,.form {
  height: 48%;
  width: 350px;
}
.card__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 4px #000;
  padding: 15px;
  width: calc(33% - 40px);
  margin: 20px;
  min-height: 250px;
}
.data {
  font-size: 18px;
  word-break: break-word;
  margin-bottom: 10px;
}

.winner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 4px #000;
  height: 200px;
  padding: 20px;
  font-size: 35px;
  position: relative;
}
.winner__total {
  margin-bottom: 30px;
}
.winner__info {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 5;
  padding: 15px;
  text-align: center;
}
.winner__data {
  margin-top: 20px;
  font-size: 20px;
  text-align: left;
}
.form {
  border-radius: 5px;
  box-shadow: 0 0 4px #000;
  padding: 20px;
}
.form .button {
  margin-top: 50px;
}
.form__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.form__group {
  margin-bottom: 20px;
  font-size: 18px;
}
.input {
  width: 100%;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 20px;
}
.input::placeholder {
  font-size: 20px;
}
.button {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #eeee;
  cursor: pointer;
  padding: 5px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.button:hover {
  background-color: #e2e2e2;
}

.notif {
  position: fixed;
  right: 15px;
  top: 50px;
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  font-size: 23px;
  background: #e2e2e2;
  min-width: 250px;
}

.particiant-timer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.wrapp {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 50vw;
  height: 50vh;
  background-color: #fff;
  border: 2px solid rgb(25, 212, 50);
  border-radius: 5px;
  padding: 10px;
}
.timer {
  margin-bottom: 20px;
  font-size:40px;
  font-weight: bold;
}
.particiant-timer  .button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}
.particiant-timer .title {
  font-size: 32px;
  font-weight: bold;
}

.particiant-timer .button.start {
  background-color: green;
}
.particiant-timer .button.stop {
  background-color: tomato;
}
.particiant-timer .button.reset {
  background-color: burlywood;
}
.btn__wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__bottom {
  margin-top: 50px;
}
.btn__bottom .cancel,.btn__bottom .save {
  border: 1px solid violet;
  width: 150px;
}
.btn__bottom .cancel {
  background-color: red;
  color: #fff;
}
.btn__bottom .save  {
  background-color: rgb(67, 192, 67);
}
.info {
  font-size: 30px;
}
.disable {
  pointer-events: none;
  position: relative;
}
.disable::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .1);
}

@media(max-width: 1100px) {
  .card {
    width: calc(50% - 40px);
  }
}